name: Build docker image

on:
  push:
    branches:
    - main

    tags:
    - '*'

env:
  VERSION: 0.65.0

jobs:
  frp-build:
    strategy:
      matrix:
        arch:
          - amd64
          - arm64
        include:
          - arch: amd64
            runner: ubuntu-24.04
          - arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: build and push
        env:
          ARCH: ${{ matrix.arch }}
          VERSION: ${{ env.VERSION }}          
        run: |
          make
          make test
          make push
  frp-push:
    runs-on: ubuntu-latest
    needs:
      - frp-build
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: ./.github/actions
        with:
          version: ${{ env.VERSION }}
          latest: true
          latest_major: true
